src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/uma/.DS_Store
src/main/java/com/uma/example/.DS_Store
src/main/java/com/uma/example/springuma/.DS_Store
src/test/.DS_Store
/target
